@model IEnumerable<TraineesManagementSystem.Models.TraineesWithBatches>

@{
    ViewData["Title"] = "EveryBatchDetails";
    Layout = "AdminLayout";

}
@{
    int id =(int) TempData["id"];
    string batchName = TempData["name"].ToString();
    TempData["MainBatchId"] = id;
}


<h1>Batch Name:@TempData["name"].ToString()</h1>

<button><a style="text-decoration:none;color: #fff;" asp-action="SubBatchesDetails">Sub Batches</a></button>

<button><a style="text-decoration:none;color: #fff;" asp-controller="AdminView" asp-action="AllDetails1" asp-route-BatchId="@id" asp-route-BatchName="@batchName">Add Trainee</a></button>



<dir class="board">
	<table width="100%">
		<thead>
			<tr>
				<td></td>
				<td>TraineeId</td>
				<td>Remove</td>
				<td>Info</td>
				
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Count() > 0)
			{

				foreach (var item in Model)
				{

					<tr>
						<td class="people">
                            <div class="people-de">
                                <h5>
                                    
                                            <i class="fa-sharp fa-solid fa-user"></i>
                                </h5>

                            </div>
                            
                        </td>
						
                        <td class="people">

                            <div class="people-de">
                                <h5>
                                    <a asp-action="GetTraineeDetailsById" asp-route-traineeId="@item.TraineeId" style="text-decoration:none;">@Html.DisplayFor(modelitem=>item.TraineeName)</a>

                                </h5>

                            </div>
                        </td>

                        <td class="people-des">
                            
                                <h5>
                                    @Html.DisplayFor(modelitem=>item.TraineeId)
                                </h5>

                        </td>

						
						
            <td class="edit">
                <a asp-action="DeleteTraineeFromBatch" asp-route-TraineeId="@item.TraineeId" asp-route-BatchId="@item.BatchId">Delete</a>
            </td>
            <td class="edit">
                            <a asp-action="GetTraineeDetailsById" asp-route-traineeId="@item.TraineeId" style="text-decoration:none;" >Details</a>

                        </td>
					</tr>


				}
			}




			else
			{
                <tr>
			<td colspan="4" class="text-center"><b><a asp-action="Register">No Data Available . Please Add Data By CLick On Create Button</a></b></td>
                </tr>
			}
		</tbody>
		


	</table>
</dir>


